* {
	box-sizing: border-box;
}
body, 
h1,
h2,
h3,
h4,
a,
p,
ul {
	margin: 0;
	font-family: "Trebuchet MS";
	color: #565656;
}

.purchase-main-title {
	padding: 0 0 55px 14px;
	font-size: 37px;
	font-weight: bolder;
}

.purchase-title {
	font-size: 10px;
	padding-top: 16px;
	padding-bottom: 26px;
}

.model h3.purchase-title {
	padding-bottom: 10px;
}

.final-purchase {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}
.model,
.options,
.amount,
.total{
	float: left;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.model,
.options,
.amount,
.time {
	background-color: #f4f0ef;
	padding: 0 14px 0 14px;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #eeeae9;
}

.time {
	margin: 0;
}

.options {
	width: 150px;
	height: 434px;
}

.model-element {
	position: relative;
	width: 176px;
	display: flex;
	height: 54px;
	align-items: center;
}
.model-element:last-child{
	margin-bottom: 18px;
}

.model-element-image-first {
	height: 28px;
	margin-right: 20px;
}

.model-element-image-second {
	height: 26px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.model-element-text {
	color: #cacac9;
	font-size: 11px;
}

option,
select,
input,
textarea,
button {
	outline: none;
}

.clock {
	display: flex;
	background-color: #f7f7f7;

	align-items: center;
	height: 30px;
	margin-right: 30px;
	margin-left: 30px;
	border: 1px solid #eae8e9;
	border-radius: 5px;
}

.clock-element {
	background-color: #f7f7f7;
	border: none;
	font-size: 16px;
	width: 20px;
	height: 20px;
}

.options-element {
	margin-bottom: 24px;
	height: 31px; 
	width: 118px;
	background-color: #f7f7f7;	
	color: #7f8180;
	font-size: 11px;
	border: 1px solid #eae8e9;
	border-radius: 5px;
}

.missing-options-element {
	margin-bottom: 14px
}

.missing-options-element-text {
	line-height: 36px;
}

.js-input-quantity {
	font-size: 13px;
	width: 15px;
	height: 26px;
	background-color: #f7f7f7;
	border: none;
}

.js-minus {
	margin-left: 8px;
	height: 11px;
}

.js-plus {
	height: 11px;
	margin-right: 8px;
}

.number {
	display: flex;
	justify-content: space-between;
	width: 66px;
	margin-bottom: 26px;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #eae8e9;
	background-color: #f7f7f7;
}

.time-element {
	width: 332px;
}

.data-user {
	display: flex;
	align-items: center;
	margin: 0 0 13px 8px;
	width: 168px;
	padding: 7px;
	border-radius: 5px;
	border: 2px solid #eae8e9;
	background-color: #f7f7f7;
}

.data-user input {
	background-color: #f7f7f7;
	border: none;
	width: 135px;
	margin-left: 8px;
}
.address {
	align-items: stretch;
}

.address textarea {
	font-family: Trebuchet MS;
	background-color: #f7f7f7;
	border: none;
	width: 135px;
	margin-left: 8px;
	height: 70px;
}

.data-user img {
	height: 15px;
}

.price {
	background-color: #18a765;
	height: 175px;
	width: 360px;
	margin-top: 7px;
	border-radius: 5px;
	border: 1px solid #1a9a5d;
}

.price-element {
	display: flex;
	align-items: center;
	color: white;
	height: 51px;
	margin-left: 33px;
	width: 280px;
}

.price-img {
	margin: 0 19px;
}

.price-btn {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #282723;
	background-color: white;
	border-radius: 5px;
	height: 40px;
	margin: 5px 0 0 46px;
	width: 260px;
}

.price-text {
	margin-top: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.price-text-second {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
}

.cost {
	border-bottom: 1px dotted white;
	margin-top: 18px;
}

#date8,
.data-user,
.clock {
	float: left;
}

.model-sofa-hover.-visible,
.model-bean-hover.-visible,
.model-carpet-hover.-visible,
.model-chair-hover.-visible,
.model-mattress-hover.-visible,
.model-armchair-hover.-visible,
.model-couch-hover.-visible {
	display: inline-block;
}

.model-couch-hover,
.model-armchair-hover,
.model-mattress-hover,
.model-chair-hover,
.model-carpet-hover,
.model-bean-hover,
.model-sofa-hover{
	display: none;
}

.model-sofa.-invisible,
.model-bean.-invisible,
.model-carpet.-invisible,
.model-chair.-invisible,
.model-mattress.-invisible,
.model-armchair.-invisible,
.model-couch.-invisible {
	display: none;
}

.couch-text.-hover-text,
.armchair-text.-hover-text,
.mattress-text.-hover-text,
.chair-text.-hover-text,
.carpet-text.-hover-text,
.bean-text.-hover-text,
.sofa-text.-hover-text {
	color: #565656;
}